<div class="columns is-desktop is-centered">
	<div class="column is-half">
		<h1 class="title is-2 has-text-centered">Create an Ironuser Account </h1>
		<hr>
		<div class="box">
			<form action="/auth/add-user" method="POST">
				<div class="field is-horizontal">
					<div class="field-body">
						<div class="field">
							<label class="label">Name:</label>
							<p class="control is-expanded has-icons-left">
								<input class="input" type="text" placeholder="Name" name="name">
								<span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
							</p>
						</div>
						<div class="field">
							<label class="label">Last name:</label>
							<p class="control is-expanded">
								<input class="input" type="text" placeholder="Last name" name="lastname" >
							</p>
						</div>
					</div>
				</div>
				
				<div class="field">
					<label class="label">Email:</label>
					<div class="control has-icons-left">
						<input class="input" type="email" name="email" placeholder="mail@gmail.com">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
					</div>
				</div>

				<div class="field">
					<label class="label">Select user:</label>
					<div class="control">
						<div class="select">
							<select class="is-hovered" name="level">
								<option selected>Select type...</option>
								<option value="BUDDY">Buddy</option>
								<option value="STUDENT">Student</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="field">
					<label class="label">Select course:</label>
					<div class="control">
						<div class="select">
							<select class="is-hovered" name="course">
								<option selected>Select type...</option>
								<option value="WEB DEVELOPMENT">Web Development</option>
								<option value="UX-UI DESIGN">UX/UI Design</option>
								<option value="DATA ANALYTICS">Data Analytics</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field">
					<label class="label">Password:</label>
					<div class="control has-icons-left">
						<input class="input" type="password" name="password" placeholder="*******">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</div>
				</div>
				
				<input class="button is-fullwidth is-info" type="submit" value="Add user">
		
			</form>
		</div>
	</div>
</div>