<div class="columns is-desktop is-centered">
	<div class="column is-half">
		<h3 class="title is-4"></h3>
		<hr>
		<p>Updated on: <strong>26-08-19</strong></p>
		<div class="box">
			<p>{{this.name}}</p>
			<p class="link"><a href="{{this.url}}">{{this.url}}</a></p>
			<hr>
			<textarea class="textarea" placeholder="Your comment here"></textarea>
		</div>
	</div>
</div>