<p>Welcome to {{title}}</p>

<div class="columns">
	<div class="column is-two-fifths">
		<hr>
		<div class="box">
			<figure>
				<img class="is-rounded" src="{{this.img}}" alt="">
			</figure>
			<p>{{this.name}}</p>
			<p>{{this.lastname}}</p>
			
			<a class="button is-text is-info" href="/profile">Ir a perfil</a>
		</div>
	</div>

	<div class="column is-two-fifths">
		<hr>
		<div class="box">
			<figure>
				<img src="" alt="">
			</figure>
			<p>Resources</p>
			<a class="button is-text is-info" href="/profile/resources">Resources</a>

		</div>
	</div>
</div>
