<p>Welcome to {{title}}</p>

<div class="columns is-desktop is-centered">
	<div class="column is-half">
		<hr>
		<div class="box">
			<figure>
				<img class="is-rounded" src="{{this.img}}" alt="">
			</figure>
			<p>{{this.name}}</p>
			<p>{{this.lastname}}</p>
			<button type="submit">Ir a perfil </button>
		</div>
	</div>
</div>