<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="/images/ironhack-logo.png" alt="ironhack-logo">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/profile">
          Profile
      </a>
    </div>

    {{!-- <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-text" data-social-action="tweet" data-social-target="http://localhost:4000" href="/auth/login">
              <span>
                Log In
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-text" href="/auth/logout">
              <span>Log out</span>
            </a>
          </p>
        </div>
      </div>
    </div> --}}
  
  
    <div class="navbar-end">
      <div class="navbar-item">
        <ul class="field is-grouped">
          {{#unless user}}
          <li class="control">
            <a class="button is-text"  href="/auth/login">
              <span>
                Log In
              </span>
            </a>
          </li>
          <li class="control">
            <a class="button is-text"  href="/auth/signup">
              <span>
                Sign up
              </span>
            </a>
          </li>
          {{else}}
          <li class="control">
            <a class="button is-text" href="/auth/logout">
              <span>Log out</span>
            </a>
          </li>
          {{/unless}}
        </ul>
      </div>
    </div>

   

  </div>
</nav>
<section class="section">
    <div class="container">
     {{{body}}}
    </div>
  </section>

  <script src="/javascripts/script.js"></script>
</body>
</html>