<div class="columns is-desktop is-centered">
	<div class="column is-half">
		<hr>
		<div class="box">
			<img src="{{this.img}}" alt="">
			<p>{{this.name}}</p>
			<p>{{this.lastname}}</p>
			<p>{{this.email}}</p>
		</div>
	</div>
</div>