body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #111111;
}

.navbar-item {
  img {
    max-height: 64px;
  }
}

.table tr td.link,
.link {
  position: relative;

  a {
    color: #3273dc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    z-index: 10;
    width: 100%;
  }
}